body {
    background-color: lightcoral;
}

h1 {
    color: navy;
    margin-left: 20px;
}

p {
    font-size: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}